<!DOCTYPE html>
<html>
<head>
	<title>Artist</title>
</head>
<body>
	<h1><%=@artist.name%></h1>
	<h3>List of songs</h3>
	
	<a href="/artists/<%= @artist.slug %>">
		<%="#{@artist.songs[0].name}"%> [<%="#{@artist.genres[0].name}"%>]
	</a>
</body>
</html>