<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    form create new artist and song on submit

    <form class="" action="index.html" method="post">
      

    </form>
  </body>
</html>
